@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #111;
  --color: #333;
  --shadow: 0 2px 2px 1px #3331;
};

a, 
a:focus, 
a:hover, 
a:visited, 
a:active {
	text-decoration: none !important;
}
/* Sample CSS */
.blog-link {
  text-decoration: none;
  color: var(--color);
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  box-shadow: var(--shadow);
}

.blog-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.blog-info {
  font-size: 0.9rem;
}

.create-blog-link {
  display: block;
  margin-top: 20px;
  color: #fff;
  background-color: #007bff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

/* Add more styles as needed for BlogDetails and BlogCreate components */
.rate {
  @apply text-gray-200;
}

.rate-active {
  @apply !text-yellow-300
}
.icon-sm {
  width: 1rem;
}
.icon-md {
  width: 2rem;
}
.icon-lg {
  width: 3rem;
}

.icon {
  @apply text-gray-300;
}

* {
  @apply !rounded-none
}