@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #111;
  --shadow: 0 2px 2px 1px #3331;
  color: #555;
};

a, 
a:focus, 
a:hover, 
a:visited, 
a:active {
	text-decoration: none !important;
}

.card {
  @apply bg-white shadow rounded-lg overflow-clip flex-shrink-0 flex-grow-0 h-fit;
}
.rate {
  @apply text-gray-200;
}

.rate-active {
  @apply !text-yellow-300
}
.icon-sm {
  width: 1rem;
}
.icon-md {
  width: 2rem;
}
.icon-lg {
  width: 3rem;
}

.icon {
  @apply text-gray-300;
}

